<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SignUpFilter</filter-name>
        <filter-class>filter.SignUpFilter</filter-class>
    </filter>
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>filter.Authentication</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SignUpFilter</filter-name>
        <servlet-name>SignUpController</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DestinationController</servlet-name>
        <servlet-class>controller.DestinationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourController</servlet-name>
        <servlet-class>controller.TourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpController</servlet-name>
        <servlet-class>controller.SignUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourManageController</servlet-name>
        <servlet-class>controller.TourManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourAddController</servlet-name>
        <servlet-class>controller.TourAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourDeleteController</servlet-name>
        <servlet-class>controller.TourDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourEditController</servlet-name>
        <servlet-class>controller.TourEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DestinationManageController</servlet-name>
        <servlet-class>controller.DestinationManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DestinationAddController</servlet-name>
        <servlet-class>controller.DestinationAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DestinationDeleteController</servlet-name>
        <servlet-class>controller.DestinationDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DestinationEditController</servlet-name>
        <servlet-class>controller.DestinationEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDeleteController</servlet-name>
        <servlet-class>controller.CartDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartAddController</servlet-name>
        <servlet-class>controller.CartAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartEditController</servlet-name>
        <servlet-class>controller.CartEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagerController</servlet-name>
        <servlet-class>controller.OrderManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDeleteController</servlet-name>
        <servlet-class>controller.OrderDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderEditController</servlet-name>
        <servlet-class>controller.OrderEditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestinationController</servlet-name>
        <url-pattern>/destination</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourController</servlet-name>
        <url-pattern>/tour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourManageController</servlet-name>
        <url-pattern>/tourmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourAddController</servlet-name>
        <url-pattern>/addtour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourDeleteController</servlet-name>
        <url-pattern>/deletetour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourEditController</servlet-name>
        <url-pattern>/edittour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestinationManageController</servlet-name>
        <url-pattern>/desmanage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestinationAddController</servlet-name>
        <url-pattern>/adddes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestinationDeleteController</servlet-name>
        <url-pattern>/deletedes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestinationEditController</servlet-name>
        <url-pattern>/editdes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDeleteController</servlet-name>
        <url-pattern>/deletecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartAddController</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartEditController</servlet-name>
        <url-pattern>/editcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagerController</servlet-name>
        <url-pattern>/ordermanager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDeleteController</servlet-name>
        <url-pattern>/deleteorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderEditController</servlet-name>
        <url-pattern>/editorder</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
